<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8" />
		<link
			rel="stylesheet"
			href="/public/bootstrap/dist/css/bootstrap.min.css"
		/>
		<title></title>
	</head>
	<body>
		<div class="container">
			<form action="/students/edit" method="POST">
				<input type="hidden" name="id" value={{ studentInfo.id }} />
				<div class="form-group">
					<label for="exampleInputEmail1">Name</label>
					<input
						type="text"
						class="form-control"
						name="name"
						id="exampleInputEmail1"
						value={{ studentInfo.name }}
					/>
				</div>
				<div class="form-group">
					<label for="exampleInputPassword1">Age</label>
					<input
						type="text"
						class="form-control"
						name="age"
						id="exampleInputPassword1"
						value={{ studentInfo.age }}
					/>
				</div>
				<div class="form-group">
					<label for="exampleInputPassword1">Like</label>
					<input
						type="text"
						class="form-control"
						name="like"
						id="exampleInputPassword1"
						value={{ studentInfo.like }}
					/>
				</div>
				<a href="/students" class="btn btn-primary">back</a>
        
				<button type="submit" class="btn btn-default">edit</button>
			</form>
		</div>
	</body>
</html>
