<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/public/bootstrap/dist/css/bootstrap.min.css">
    <title></title>
  </head>
  <body>
    <div class="container">
      <hr>
      <div class="">
        <a class="btn btn-success" href="/students/new">添加</a>
      </div>
      <hr>

      <div class="bs-example" data-example-id="simple-table">
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Age</th>
              <th>Like</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            {{each students}}
            <tr>
              <th scope="row">{{$value.id}}</th>
              <td>{{$value.name}}</td>
              <td>{{$value.age}}</td>
              <td>{{$value.like}}</td>
              <td>
                <a href="/students/edit?id={{ $value.id }}">编辑</a>
                <a href="/students/delete?id={{ $value.id }}">删除</a>
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>



  </body>
</html>
